<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>grpgscript</key>
    <string>grpgscript</string>
    <key>uuid</key>
    <string>786166f2-31fa-44c0-8681-aa2d22ad6c61</string>
</dict>
</plist>
